/* Software banner styling */
.software-hero-banner {
    background-color: #ffff;
    background-size: cover;    
    display: grid;    
    grid-template-columns: 60% 40%;
    height: 80vh;
    justify-items: center;
}

.software-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
}

.software-hero-title {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.08em;
}

.software-hero-description {
    max-width: 80%;
    font-size: 1em;
}

.banner-buttons {
    display: flex;
    gap: 1em;
}

.try-now-btn {
    border: 2px solid #5B8AC1;
    color: #ffff;
    background-color: #5B8AC1;
    padding: 0.5em 16px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5em;
}
  
.try-now-btn:hover {
    background-color: transparent;
    color: #5B8AC1;
}

.view-demo-btn {
    border: 2px solid #68BDEC;
    color: #68BDEC;
    background-color: transparent;
    padding: 0.5em 16px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5em;
}
  
.view-demo-btn:hover {
    background-color: #68BDEC;
    color: white;
}

/* software Banner styling: Media query for tablet screens */
@media (max-width: 992px) {
    .software-hero-banner {
        box-sizing: border-box;
        grid-template-columns: 70% 30%;
        height: 50vh;
    }
    .software-positioning {
        display: flex;
        justify-content: start;
        align-items: center;
    }    
    .software-hero-title {
        padding-top: 0em;
        letter-spacing: -0.08em;
    }
    .Tele-consult-image {
        width: 100%;
    }    
}

/* Software Banner styling: Media query for mobile screens */
@media(max-width: 576px) {
    .software-hero-banner {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .software-hero-title {
        font-size: 1.5em;
        padding-top: 0em;
        letter-spacing: -0.08em;
    }
    
    .software-hero-description {
        margin-bottom: 1em;
        max-width: 100%;
    }  
}

/* Key Benefit Page styling */
.key-benefit-hero-banner {
    background-image: url("../test-images/key-benefit-background.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    color: #ffff;
    height: 80vh;
}

.key-benefit-items {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.key-benefit-hero-title {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.08em;
    padding-top: 0em;
}

.key-benefit-hero-description {
    max-width: 80%;
    font-size: 1.2em;
}

.blue-tick {
    font-size: 1.2em;
    color: #0066FF;
}

/* Key Benefit Page styling: Media query for tablet screens */
@media (max-width: 992px) {
    .key-benefit-hero-banner {
        display: grid;
        grid-template-columns: 50% 50%;
        box-sizing: border-box;
        height: 50vh;
        padding-top: 0em;
    }
    .key-benefit-items {
        align-items: center;
        display: flex;
        justify-content: start;
        max-width: 90%;
    }
    .key-benefit-hero-title {
        font-size: 1.5em;
        letter-spacing: -0.08em;
    }
    .key-benefit-hero-description {
        max-width: 100%;
        font-size: 0.8em;
    }    
}

/* Key Benefit Page styling: Media query for mobile screens */
@media(max-width: 576px) {
    .key-benefit-hero-banner {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .key-benefit-items {
        align-items: start;
        display: flex;
        justify-content: center;
        max-width: 100%;
    }    

    .key-benefit-hero-title {
        font-size: 1.5em;
        letter-spacing: -0.08em;
    }
    
    .key-benefit-hero-description {
        max-width: 100%;
        font-size: 0.8em;
    }
}

/* Review banner styling */
.review-banner {
    background-color: #ffff;
    background-size: cover;    
    display: grid;    
    grid-template-columns: 60% 40%;
    height: 80vh;
    justify-items: center;
}

.review-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-hero-title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: -0.08em;
}

.review-hero-description {
    max-width: 80%;
    font-size: 1em;
}

/* Review Banner styling: Media query for tablet screens */
@media (max-width: 992px) {
    .review-banner {
        grid-template-columns: 70% 30%;
        height: 80vh;
    }
    .review-positioning {
        display: flex;
        justify-content: start;
        align-items: center;
    }    
    .review-hero-title {
        font-size: 2.0em;
        padding-top: 0em;
        letter-spacing: -0.1em;
    }
    .eleconsult-dashboard-image {
        width: 100%;
    }    
}

/* Review Banner styling: Media query for mobile screens */
@media(max-width: 576px) {
    .review-banner {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .review-hero-title {
        font-size: 1.5em;
        padding-bottom: 1em;
        padding-top: 1em;
        letter-spacing: -0.1em;
    }
    
    .review-hero-description {
        margin-bottom: 1em;
        max-width: 100%;
    }  
}