body {
    background-color: #FFFF;
    padding: 0;
    margin: 0;
}
/* Reusable selector classes */

/* Inserting items in the end of y-axis */
.vertical-end {
    display: flex;
    align-items: end;
}

/* Centering items in y-axis */
.vertical-center {
    display: flex;
    align-items: center;
}

/* Centering items in x-axis */
.horizontal-center {
    display: flex;
    justify-content: center;
}

.doc-logo {
    width: 6rem;
    height: 4rem;
}  

/* Navbar section */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem 2.5rem;
}

.navbar-group-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}  

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    margin-left: 2rem;
    padding: 0.5rem;
}

.nav-link:hover {
    text-decoration: underline;
    color: #000;
}  

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: stretch;
        padding: 1rem;
    }

    .navbar-group-item {
        flex-direction: column;
        margin-top: 1rem;
    }

    .nav-link {
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

/* Primary Banner styling */
.primary-hero-banner {
    display: flex;
    align-items: center;
    height: 100vh;    
    background-size: cover;
    background-position: center;
    background-image: url("./Images/primary-banner-background.png");
}

.primary-hero-content {
    max-width: 48%;
    margin-right: auto;
    margin-left: 5rem;
}

.primary-hero-title {
    font-size: 2.5rem;
    color: #ffff;
    font-weight: 700;
}

.primary-hero-description {
    width: 75%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #ffff;
}

.learn-more-btn {
    background-color: #3491C7;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Secondary Banner styling */
.secondary-hero-banner {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url("./Images/secondary-banner-background.png");
}

.banner-image {
    max-width: 90%;
    max-height: 90%;
}

.secondary-hero-title {
    font-size: 2rem;
    font-weight: 800;
}

.secondary-hero-description {
    max-width: 80%;
}

.colored-title {
    color: #5B8AC1;
}

/* Footer */
.bottom-footer {
    padding: 2rem;
}