body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Reusable selector classes */

/* Align items to the end of the container in y-axis */
.vertical-end {
    align-items: end;
    display: flex;
}

/* Center items vertically within the container */
.vertical-center {
    align-items: center;
    display: flex;
}

/* Center items horizontally within the container */
.horizontal-center {
    display: flex;
    justify-content: center;
}

/* Center text within the container */
.text-center {
    text-align: center;    
}

/* Bolding words from the description section */
.description-bold {
    font-weight: bold;
}

/* Provide paddings on the side */
.padding-section {
    padding: 0 5rem;
}

/* Provide paddings on the side: Media query for tablet screens */
@media (max-width: 992px) {
    .padding-section {
        padding: 0 3rem;
    }  
}

/* Provide paddings on the side: Media query for mobile screens */
@media(max-width: 576px) {
    .padding-section {
        padding: 0 2rem;
    }  
}

.section-title {
    font-size: 2rem;
    padding-top: 5rem;
    font-weight: 900;
}

/* Navbar styling */
.doc-logo {
    height: auto;
    width: 6rem;
}

.navbar-padding-section {
    padding: 0rem 5rem;
}

/* Navbar styling: Media query for tablet screens */
@media(max-width: 992px) {
    .doc-logo {        
        margin: 0 auto;
        height: auto;
        width: 3rem;        
    }
    .navbar-padding-section {
        padding-left: 2rem;    
        padding-right: 0rem;
    }    
    
}

/* Navbar styling: Media query for mobile screens */
@media(max-width: 576px) {
    .doc-logo {        
        margin: 0 auto;
        height: auto;
        width: 3rem;        
    }
    .navbar-padding-section {
        padding-left: 1rem;    
        padding-right: 0rem;
    }    
}

/* Navbar underline animation at computer/laptop screen*/
.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
  }
  
@media (min-width: 992px) {
    .navbar-nav .nav-link::before {
        background-color: black;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
        visibility: hidden;
        width: 100%;        
    }

    .navbar-nav .nav-link:hover::before {
        transform: scaleX(1);        
        visibility: visible;
    }
}

/* Primary Banner styling: Default for laptop/computer screens */
.primary-hero-banner {
    align-items: center;    
    background-image: url("./Images/primary-banner-background.png");    
    background-position: center;
    background-size: cover;    
    display: flex;
    height: 100vh;    
}

.primary-hero-content {
    width: 50%;
}

.primary-hero-title {
    color: #ffff;
    font-size: 2.5rem;
    font-weight: 700;
}

.primary-hero-description {
    color: #ffff;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 70%;
}

.learn-more-btn {
    background-color: #3491C7;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 550;
    padding: 0.7rem 2.5rem;
}

/* Primary Banner styling: Media query for tablet screens */
@media(max-width: 992px) {
    .primary-hero-content {
        width: 80%;
    }
}

/* Primary Banner styling: Media query for mobile screens */
@media(max-width: 576px) {
    .primary-hero-content {
        width: 90%;
    }

    .primary-hero-title {
        font-size: 2rem;
    }

    .primary-hero-description {
        color: #ffff;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        width: 70%;
    }     
}

/* Secondary Banner styling */
.secondary-hero-banner {
    background-image: url("./Images/secondary-banner-background.png");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 55% 45%;
    justify-items: center;
}

.nurse-image {    
    max-height: 90%;
    max-width: 90%;
}

.secondary-hero-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.secondary-colored-title {
    color: #5B8AC1;
}

.secondary-hero-description {
    max-width: 80%;
}

/* Secondary Banner styling: Media query for tablet screens */
@media (max-width: 992px) {
    .secondary-hero-banner {
        align-items: flex-end;
        box-sizing: border-box;
        grid-template-columns: 100%;
        padding: 2rem;
    }
}

/* Secondary Banner styling: Media query for mobile screens */
@media(max-width: 576px) {
    .secondary-hero-banner {
        align-items: flex-end;
        box-sizing: border-box;
        grid-template-columns: 100%;
        padding: 2rem;
    }
    
    .nurse-image {
        height: auto;
        margin: 2rem 0;
        max-height: 100%;
        max-width: 80%;
    }

    .secondary-hero-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .secondary-hero-description {
        margin-bottom: 1rem;
        max-width: 100%;
    }
    
}

/* Benefit Page styling */
.benefit-section {
    background-color: #D9E8F0;
}

.benefit-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.benefit-card {
    max-width: 60%;
}

.benefit-card > img {
    height: auto;
    max-width: 100%;
}

.benefit-card-title {
    font-weight: 800;
    font-size: 1.3rem;
}

.center-benefit-card {
    display: flex;
    justify-content: center;
    text-align: center;
}

.light-blue-title {
    color: #2891C7;
}

/* Benefit page styling: Media query for tablet screens */
@media (max-width: 992px) {
    .benefit-card > img {
        height: auto;
        max-width: 80%;
    }
}

/* Benefit page styling: Media query for mobile screens */
@media (max-width: 576px) {
    .benefit-container {
        align-items: center;        
        flex-direction: column;
    }
}

/* Service page styling */
.service-section {
    background-color: #D8D8D8;
}

.service-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.service-card {
    background-color: #FFFFFF;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: space-between;
    padding: 1rem;
    text-align: start;
}

.service-card-image {
    height: auto;
    width: 100%;
}

.service-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
}

.service-card-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 0rem;
}

.service-card-learn-more {
    color: #000000;
    display: inline-block;
    font-weight: 700;
    margin-left: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Service page styling: Media query for tablet screens */
@media(max-width: 992px) {
    .service-card-group {
        grid-template-columns: repeat(2, 1fr);     
    }
}
/* Service page styling: Media query for mobile screens */
@media(max-width: 576px) {
    .service-section {
        background-color: #D8D8D8;
    }    
    .service-card-group {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;        
    }
    .service-card {
        gap: 0rem;
    }
}

/* Partners page styling */
.partners-row > img {
    width: 4rem;
    height: auto;
}

.partners-group {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.first-partners-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
}

.second-partners-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4rem;
}

.third-partners-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    justify-content: center;
}

/* Partners page styling: Media query for tablet screens */
@media(max-width: 992px) {
    .partners-row > img {
        width: 80%;
        height: auto;
    }   
}

/* Partners page styling: Media query for mobile screens */
@media(max-width: 576px) {
    .first-partners-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }
    
    .second-partners-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }
    
    .third-partners-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }    
    .partners-row > img {
        width: 100%;
        height: auto;
    }
    .partners-group {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }       
}

/* Footer */
.bottom-footer {
    background-color: #fff;
    padding: 2rem;
}